.signup-details {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.signup-button {
    border-radius: 10px;
    justify-content: center;
}

.center-signup {
    display: flex;
    justify-content: center;
    align-items: center;
  }

