.updatepro-details {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.updatepro-details h1 {
    font-weight: 800;
}

.updatepro-button {
    border-radius: 10px;
    justify-content: center;
}

.updatepro-td {
    width: 55%;
}

.updatepro-input input{
    border-radius: 5px;
}

.updatepro-input input{
    margin: 0px 5px 0px 5px;
}

.updatepro-button-2 button {
    width: 300px;
    margin: 5px;
    background-color: #26eb0c;
}