footer {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #001925;
    color: white;
    position: fixed;
    height: 5vh;
    width: 100%;
    padding: 5px;
  }

  .footer-copyright{
    align-items: center;
    display: flex;
    justify-content: center;
  }