.forumcard-mainbox {
    border-style: solid;
    border:4px;
    margin: auto;
    margin-top: 12px;  
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
    border-color:black;
    padding: 12px;   
  }

  .forumcard-mainbox:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .forumcard-mainbox i{
    float: right;
    margin-right:30px;
    color: red;
  }

  .forumcard-mainbox h5{
    float: right;
    margin:-50px 28px 20px 20px;   
  }
  
  .forumcard-container {
    padding: 2px 16px;
  }
  
  .forumcard-container h4{
    color: #001925;
  }

  .forumcard-container a{
    text-decoration: none;
  }

  .forumcard-category-box{
    padding: 0 5px;
    color: white;
    background-color: green;
    width: 12vh;
    justify-content: center;
    text-align: center;
    display: flex;
    border-radius: 5px;
    min-height: 4vh;
    align-items: center;
  }
 